html, * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
 /*   border: 5px whitesmoke;  */
 /*    border: 4px dotted grey; */
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    color: grey;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
  }
  
  button:hover {
    background-color: lightblue;
    color: white;
  }

  h2 {
    color: white;
    margin: 0 100px 0 80px;
    padding: 0;
    display: inline;
  }

  .scoreboard {
    color: chartreuse;
    font-size: 28px;
  }

 #player1-profile {
    border-radius: 50%;
 }

 #player2-profile {
  border-radius: 50%;
}

img {
  border-radius: 50%;
}